<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295493286345-clr4kauph1s93h067dg9el8f7t9k4tjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295493286345-clr4kauph1s93h067dg9el8f7t9k4tjj</string>
	<key>API_KEY</key>
	<string>AIzaSyAFhtEiKLKgqPS1plkvFncbIIdypiQvV10</string>
	<key>GCM_SENDER_ID</key>
	<string>295493286345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tycoon23.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c09ec</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c09ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295493286345:ios:f92c3f36384384676c1018</string>
</dict>
</plist>